@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Override any deprecated -ms-high-contrast rule
@media (forced-colors: active) {
    html, body {
      background-color: Highlight !important;
      color: ButtonText !important;
    }
  }
  