<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- Home Brand (Image + Text) -->
    <div class="brand d-flex align-items-center">
      <img src="../../assets/icon.png" alt="El Amir Group" class="header-img">
      <h1 class="navbar-brand mb-0">El Amir Group</h1>
    </div>

    <!-- Navbar content (Right-aligned) -->
    <div class="d-flex align-items-center ms-auto">
      <!-- User's Name (if available) -->
      <span class="navbar-text me-3">{{ firstName }} {{ lastName }}</span>

      <!-- Login/Logout Buttons -->
      <button *ngIf="isLoggedIn" class="btn btn-danger btn-sm" (click)="logout()">Logout</button>
      <button *ngIf="!isLoggedIn" class="btn btn-primary btn-sm ms-2" (click)="login()">Login</button>
    </div>
  </div>
</nav>
